<div class="li-task-container">
  <ul>
    <li *ngFor="let task of taskfilter(tasks)"class="li-task">
      <div class="task-status status-{{getStatusName(task)}}" (click)="changeStatus(task)">
        <i class="checkbox-empty"></i>
        <i class="checkbox-mark"></i>
        <span class="title-style">{{task.title}}</span>
      </div>
      <button (click)="removeTask(task)" class="remove-task">
        <img src="../assets/icon_x.png" alt="" class="m-auto">
      </button>
    </li>
  </ul>
</div>